.button{
background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
letter-spacing: 0.5px;
font-weight: 700;
line-height: 1.25;
color:#fff;
display: inline-block;
padding: 16px 40px 16px 40px;
position:relative;
}

.button::before{
	content: "";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;

	opacity:0;
	border-radius:4px;
	background: linear-gradient(55.95deg, #850806 0%, #F75E05 100%);
	transition:opacity 0.3s ease 0s;
	}
	
.button:hover::before{
	opacity:1;
	

	}
.button span{
position:relative;

z-index:2;
}
.button--border{
background: transparent;
border:1px solid #FF3F3A;
color:#FF3F3A;
padding: 15px 40px 15px 40px;
}

.button--border:hover{
	opacity:1;
	border:1px solid #FF3F3A;
	background-color: #FF3F3A;
	color:#fff;
	}